In [1]:
import pandas as pd
import os

In [2]:
path = '../landing/'
name = 'orders.csv'
df = pd.read_csv(path+name)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1615 non-null   int64
 1   customer_id    1615 non-null   int64
 2   order_status   1615 non-null   int64
 3   order_date     1615 non-null   object
 4   required_date  1615 non-null   object
 5   shipped_date   1445 non-null   object
 6   store_id       1615 non-null   int64
 7   staff_id       1615 non-null   int64
 8   source         1615 non-null   object
 9   timesamp       1615 non-null   object
dtypes: int64(5), object(5)
memory usage: 126.3+ KB

In [3]:
# Create an empty DataFrame to store rejected rows
df_rejected_dates = pd.DataFrame(columns=df.columns)

date_format = "%Y-%m-%d"

for index, row in df.iterrows():
    rejected = False
    for col in ['order_date', 'required_date', 'shipped_date']:
        try:
            df.at[index, col] = pd.to_datetime(row[col], format=date_format)
        except pd.errors.OutOfBoundsDatetime:
            print(f"Skipped row {index} with out of bounds timestamp in column '{col}'")
            # Append rejected row to df_rejected_dates
            df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)
            rejected = True
            break
    if rejected:
        # Drop rejected row from the original DataFrame
        df.drop(index, inplace=True)

Skipped row 5 with out of bounds timestamp in column 'order_date'
Skipped row 6 with out of bounds timestamp in column 'order_date'
Skipped row 7 with out of bounds timestamp in column 'order_date'
Skipped row 8 with out of bounds timestamp in column 'order_date'

/tmp/ipykernel_4893/3535791846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)
/tmp/ipykernel_4893/3535791846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)
/tmp/ipykernel_4893/3535791846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)
/tmp/ipykernel_4893/3535791846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)
/tmp/ipykernel_4893/3535791846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)
/tmp/ipykernel_4893/3535791846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)
/tmp/ipykernel_4893/3535791846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)

Skipped row 9 with out of bounds timestamp in column 'order_date'
Skipped row 10 with out of bounds timestamp in column 'order_date'
Skipped row 11 with out of bounds timestamp in column 'order_date'
Skipped row 1321 with out of bounds timestamp in column 'required_date'
Skipped row 1322 with out of bounds timestamp in column 'required_date'
Skipped row 1323 with out of bounds timestamp in column 'order_date'
Skipped row 1324 with out of bounds timestamp in column 'order_date'
Skipped row 1325 with out of bounds timestamp in column 'order_date'
Skipped row 1326 with out of bounds timestamp in column 'order_date'

/tmp/ipykernel_4893/3535791846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)
/tmp/ipykernel_4893/3535791846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)
/tmp/ipykernel_4893/3535791846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)
/tmp/ipykernel_4893/3535791846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)
/tmp/ipykernel_4893/3535791846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)
/tmp/ipykernel_4893/3535791846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rejected_dates = df_rejected_dates.append(row, ignore_index=True)

In [4]:
df_rejected_dates

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,source,timesamp
0,6,94,4,1016-01-04,1016-01-07,1016-01-05,2,6,Postgres,2024-04-30 07:25:43.343264
1,7,324,4,1016-01-04,1016-01-07,1016-01-05,2,6,Postgres,2024-04-30 07:25:43.343264
2,8,1204,4,1016-01-04,1016-01-05,1016-01-05,2,7,Postgres,2024-04-30 07:25:43.343264
3,9,60,4,1016-01-05,1016-01-08,1016-01-08,1,2,Postgres,2024-04-30 07:25:43.343264
4,10,442,4,1016-01-05,1016-01-06,1016-01-06,2,6,Postgres,2024-04-30 07:25:43.343264
5,11,1326,4,1016-01-05,1016-01-08,1016-01-07,2,7,Postgres,2024-04-30 07:25:43.343264
6,12,91,4,1016-01-06,1016-01-08,1016-01-09,1,2,Postgres,2024-04-30 07:25:43.343264
7,1322,39,4,2017-12-31,1018-01-03,1018-01-02,2,7,Postgres,2024-04-30 07:25:43.343264
8,1323,273,4,2017-12-31,1018-01-01,1018-01-01,2,6,Postgres,2024-04-30 07:25:43.343264
9,1324,862,4,1018-01-01,1018-01-04,1018-01-03,2,6,Postgres,2024-04-30 07:25:43.343264
10,1325,68,4,1018-01-01,1018-01-02,1018-01-03,3,8,Postgres,2024-04-30 07:25:43.343264
11,1326,567,4,1018-01-01,1018-01-03,1018-01-02,3,9,Postgres,2024-04-30 07:25:43.343264
12,1327,1026,4,1018-01-02,1018-01-03,1018-01-05,2,6,Postgres,2024-04-30 07:25:43.343264

In [5]:
# Convert 'order_date', 'required_date', and 'shipped_date' columns to datetime
for col in ['order_date', 'required_date', 'shipped_date']:
    df[col] = pd.to_datetime(df[col], format=date_format)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1602 entries, 0 to 1614
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1602 non-null   int64
 1   customer_id    1602 non-null   int64
 2   order_status   1602 non-null   int64
 3   order_date     1602 non-null   datetime64[ns]
 4   required_date  1602 non-null   datetime64[ns]
 5   shipped_date   1432 non-null   datetime64[ns]
 6   store_id       1602 non-null   int64
 7   staff_id       1602 non-null   int64
 8   source         1602 non-null   object
 9   timesamp       1602 non-null   object
dtypes: datetime64[ns](3), int64(5), object(2)
memory usage: 202.2+ KB

In [7]:
# Calculate the average number of days between 'order_date' and 'shipped_date'
avg_days_between = (df['shipped_date'] - df['order_date']).mean().days

# Fill missing values in 'shipped_date' column with 'order_date' + average days
df['shipped_date'].fillna(df['order_date'] + pd.Timedelta(days=avg_days_between), inplace=True)

In [8]:
# Filter rows where 'order_date' falls within the range (2000-01-01 to 2024-12-31)
filtered_df = df[(df['order_date'] >= '2000-01-01') & (df['order_date'] <= '2024-12-31')]

In [9]:
# Assuming 'name' contains the file name including the extension '.csv'
file_name = name[:-4]
new_path = '../staging_1/'

# Expand '~' to the user's home directory
new_path = os.path.expanduser(new_path)

# Construct the folder path with the file name
folder_path = os.path.join(new_path, file_name)

# Create the folder
os.makedirs(folder_path, exist_ok=True)

# Construct the file path within the newly created folder
file_path = os.path.join(folder_path, name)

# Save brands_df to the file_path
df.to_csv(file_path, index=False)